.toggle {
    margin: 10px;
    button {
        padding: 6px 10px;
        border-radius: 5px;
        border: 1px solid gray;
    }
}

.main-shop {
    .shop-item {
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 1px solid rgb(190, 190, 190);
        border-radius: 0.3em;
        background-color: lightgray;
    }
}

.main-shop.grid-view {
    display: flex;
    justify-content: center;
}