<div class="cart-wrapper">
    <span>
        <img src="https://static.vecteezy.com/system/resources/previews/001/504/962/non_2x/shopping-cart-icon-free-vector.jpg" width="35" alt="cart" routerLink="/cart">
        <span>{{productCart.length}}</span>
    </span>
</div>

<div class="toggle">
    <button (click)="toggleList()">Change View List</button>
</div>

<div class="main-shop" [ngClass]="{'grid-view' : isGrid}">
    <div class="shop-item" *ngFor="let product of listProducts; let i=index;">
        <div class="shop-item__image">
            <img src="../../../assets/logo/u11.jpg" alt="product-image">
        </div>
        <div class="shop-item__name">
            <span>{{product.name}}</span>
        </div>
        <div class="shop-item__price">
            <span>{{convertCentToRM(product.price)}}</span>
        </div>
        <div class="shop-item__cart">
            <button (click)="addToCart(product)">Add to Cart</button>
        </div>
    </div>
</div>